.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
    min-height: 200px;
}