.apartment-page-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Montserrat, sans-serif;
    text-align: left;
}

.dropdowns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}