.apartment-host {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__profile {
        display: flex;
        gap: 10px;
        color: #FF6060;
    }

    &__badge {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    & h3 {
        display: grid;
        flex-grow: 1;
        place-items: center;
        width: 93px;
        text-align: right;
        justify-content: center;
        font-weight: 500;
    }
}